; =====================================================
; ===================   Detour Ahead 5   ==============
; =====================================================
modify:
{
	match:
	{
		"hammerid" "8411"
	}
	delete:
	{
		"OnCoop" "relay_coop_setupTrigger0-1"
	}
	insert:
	{
		"OnCoop" "relay_vs_setupTrigger0-1"
	}
}

